# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage

# next
**/.next

# storybook
**/storybook-static

# production
**/lib

# misc
.DS_Store
.env*
